<ion-modal-view id="product-modal">
  <ion-header-bar style="background-color: #387ef5;">
    <h1 class="title">Select Distributor</h1>
    <div class="buttons">
      <button class="button" ng-click="cancelDistributor()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>

        <ion-radio class="item-avatar item-icon-right" ng-repeat="item in distributorlist"
            ng-value="item"  ng-model="distributorModal.distributorSide" ng-change="selectedDistributor(item)" name="server-side" >
           <img src="{{item.image}}">
           <h2>{{item.name}}</h2>
           <p>{{item.city + ' '+item.address}} | {{item.phone}}</p>
        </ion-radio>

    </ion-list>

  </ion-content>
</ion-modal-view>
